@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text-primary: #000;
  --color-bg-primary: #D9D9D9;
  --color-bg-dark: #1F2937;
  --color-text-dark: #DADCDF;
  --color-text-contrast: #874AE4;
}

html {
  scroll-behavior: smooth;
}

